* {
  margin: 0; /*Обнуление предустановленного в браузере отступа*/
  padding: 0; /*Обнуление предустановленного в браузере отступа*/
  border: 0; /*Обнуление предустановленного в браузере отступа*/
}

body {
  background-image: url(images/fonbody2.png); /*Фоновое изображение*/
  background-size: 280px auto; /*Ширина фонового изображения*/
  background-repeat: repeat; /*Повтор фонового изображения*/
  background-attachment: fixed; /*Фиксация фона при прокрутке сайта*/
  background-color: #E6F3E3; /*Замещающий цвет фона*/
}

.shadow { /*Контейнер для тени у подложки*/
  width: 960px;
  margin-left: auto;
  margin-right: auto;
-webkit-box-shadow: 0px 0px 4px 3px rgba(34, 60, 80, 0.05);
-moz-box-shadow: 0px 0px 4px 3px rgba(34, 60, 80, 0.05);
box-shadow: 0px 0px 4px 3px rgba(34, 60, 80, 0.05);
}

.top { /*Контейнер для кнопки "Наверх"*/
  position: fixed; /*Фиксированное положение элемента при прокуртке сайта*/
  bottom: 12px; /*Отступ от видимой области экрана относительно нижнейго края*/
  left: 90px;  /*Отступ от видимой области экрана относительно левой стороны*/
  z-index: 1; /*Задает положение элемента поверх всех остальных*/
}

.main { /*Контейнер для шапки сайта*/
  margin-left: auto;
  margin-right: auto;
  position: relative; /*Этот параметр указывается, чтобы использовать значение "Absolute" для других элементов этого контейнера*/
}

.header { /*Подложка с канадской выдрой*/
  width: 960px;
  height: 785px;
  background-image: url(images/generalfoto.jpg); /*Фоновое изображение в контейнере*/
  margin: 0px auto 0px auto; /*Задает отступ от краев контейнера до родительского элемента во все стороны*/
  }

 .menubar{ /*Контейнер для меню*/
  width: 900px;
  height: 50px;
  margin: 0px 0px 0px 20px;
 }

ul.menu li { /*Элементы меню*/
  list-style-image: url(images/strelka.svg); /*Ставим в качестве маркера списка изображение*/ 
  list-style-position: outside; /*Маркеры списка за пределами текста*/
  float: left; /*Встраивание элемента в нормальном потоке позиционирования. С обтеканием*/
  padding: 0;
  margin: 30px 0px 0px 55px;
 }

 a {
  text-decoration: none; /*Отмена подчеркивания текста*/
}

ul.menu li a {
  font: normal 101% 'Myraid pro', sans-serif;
  color: #7B7A7B; /*Цвет текста*/
}

a.menussilka:hover { /*Параметры для ссылок меню, на которые наведен курсор мыши*/
  color: #B5D3AF; /*Цвет ссылки*/
}

div.nazvaniesayta p{  /*Название сайта "Выдры"*/
  clear: both;
  padding: 41px 0px 0px 49px; /*Задает отступ от текста до краев контейнера во все стороны*/
  width: 600px; /*Ширина контейнера*/
  height: 110px; /*Высота контейнера*/
  color: #9BCD63; /*Цвет текста*/
  font-size: 790%; /*Если задавать размер в px, то текст не будет увеличиваться при увеличении размера шрифта в настройках браузера*/
  text-transform: uppercase; /*Текст заглавными буквами*/
  font-family: Plakat, sans-serif;
}

div.podzagolovoksayta p { /*Подзаголовок сайта "Хищние млекопитающие..."*/
  padding: 27px 0px 0px 58px; /*Задает отступ от текста до краев контейнера во все стороны*/
  width: 600px; /*Ширина контейнера*/
  height: 45px; /*Высота контейнера*/
  color: #026534; /*Цвет текста*/
  font: normal 151% 'Myraid pro', sans-serif;
}

div.nauchclassifikacia p { /*Текст "Научная классификация*/
  padding: 100px 0px 0px 58px; /*Задает отступ от текста до краев контейнера во все стороны*/
  width: 400px; /*Ширина контейнера*/
  height: 20px; /*Высота контейнера*/
  color: #026534; /*Цвет текста*/
  font: normal 100% 'Myraid pro', sans-serif;
}

.classifikaciaspisok { /*Контейнер для списка с научной классификацией*/
  padding: 10px 0px 0px 58px; /*Задает отступ от текста до краев контейнера во все стороны*/
  width: 200px; /*Ширина контейнера*/
}

pre { /*Список "Научная классификация"*/
  color: black; /*Цвет текста*/
  font: normal 90% 'Myraid pro', sans-serif;
}

.tenfactovnfon { /*Контейнер для баннера "10 фактов о выдрах*/
  background-image: url(images/tenfactovbanner.png); /*Фоновое изображение в контейнере*/
  width: 185px;
  height: 167px;
  position: absolute;  /*Абсолютное выравнивание элемента относительно родительского контейнера*/
  top: 472px; /*Смещение элемента вниз относительно родительского контейнера*/
  left: 720px; /*Смещение элемента вправо относительно родительского контейнера*/
}

.text { /*Текст на баннере "10 фактов о выдрах"*/
text-align: center; /*Выравнивание текста по центру*/
margin-top: 14px;
margin-right: 6px;
}

.ten { /*Текст "10"*/
  color: #C8E4C3;
  font: normal 540% Plakat, serif;
  letter-spacing: -0.08em; /*Межбуквенный интервал*/
}

.facti {  /*Текст "интересных фактов о выдрах"*/
  color: black;
  font: normal 90% 'Myriad Pro', sans-serif;
  margin-top: -7px;
  line-height: 1em; /*Межстрочный интервал*/
}

.site_content { /*Контейнер для основного содержимого сайта*/
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  background-color: white; /*Цвет фона*/ 
}

.foto1 { /*Фото раздела "Внешний вид"*/
  float: left;
  padding: 70px 20px 60px 50px;
}

h2 { /*Заголовки разделов*/
  display: inline-block;
  color: #026534; /*Цвет текста*/
  font: normal 152% 'Myraid pro', sans-serif;
  /*text-transform: uppercase;*/
}

.textvneshniyvid { /*Контейнер для текста раздела "Внешний вид"*/
 padding: 50px 70px 50px 50px;
}

.linegorizont { /*Разделительные горизонтальные линии*/
  width: 824px;
  height: 8px;
  background-image: url(images/linegorisontal.png); /*Фоновое изображение в контейнере*/
  background-repeat: no-repeat; /*Отмена повтора фонового изображения*/
  background-position: center;
  margin: 0px auto 0px auto; /*Задает отступ от краев контейнера до родительского элемента во все стороны*/
  padding: 0px 0px 0px 0px;
}

.linegorizontplus {
  display: none;
}

p { /*Основной текст сайта*/
 color: black; /*Цвет текста*/
 font: normal 95% 'Myraid pro', sans-serif;
 line-height: 1.15; /**/ 
}

.brazilvidrabanner { /*Контейнер для баннера из раздела "Разновидности и места обитания"*/
  float: right;
  padding: 54px 0px 0px 20px;
}

a.brazilrollover { /*Ролловер для бразильских выдр*/
  background: url(images/brazilrollover.png); /* Путь к файлу с исходным  рисунком*/
  display: block; /*Рисунок как блочный элемент*/
  width: 264px; /*Ширина рисунка в пикселах*/
  height: 319px; /*Высота половины ролловера*/
}

a.brazilrollover:hover { /*Параметры ролловера, при наведении на него курсора мыши*/
   background-position: -264px 0; /*Смещение фона*/
}

.zagolovokbrazilvidri1 { /*Заголовок №1 раздела "Бразильская (гигантская) выдра"*/
 padding: 55px 0px 0px 60px;
}

.foto18 { /*Фото №1 раздела "Бразильская (гигантская) выдра"*/
  float: left;
  padding: 20px 20px 0px 60px;
}

.textbrazilvidra1 { /*Контейнер №1 для текста раздела "Бразильская (гигантская) выдра"*/
 padding: 10px 70px 50px 30px;
}

.foto19 { /*Фото №2 раздела "Бразильская (гигантская) выдра"*/
  float: right;
  padding: 0px 50px 0px 20px;
}

.textbrazilvidra2 { /*Контейнер №2 для текста раздела "Бразильская (гигантская) выдра"*/
 padding: 20px 40px 0px 70px;
}

.fotofooter { /*Контейнер для подложки нижней части сайта на странице "Бразильские выдры"*/
  clear: both; 
  width: 960px;
  height: 335px;
  background-image: url(../CSS/images/fotofooter.png); /*Фоновое изображение в контейнере*/ 
}

p.brazilfintext { /*Текст "Пожалуйста," на странице "Бразильские выдры"*/
  color: #C8E4C3; /*Цвет текста*/
  font: normal 185% 'Myraid pro', sans-serif;
  position: absolute;
  top: 157px;
  left: 460px;
}

p.brazilfintext2 { /*Текст "берегите природу!" на странице "Бразильские выдры"*/
  color: #FFFFFF; /*Цвет текста*/
  font: normal 185% 'Myraid pro', sans-serif;
  position: absolute;
  top: 181px;
  left: 496px;
}

p.brazilfintext3 { /*Копирайт* на странице "Бразильские выдры"*/
  color: #9BCD63; /*Цвет текста*/
  font: normal 115% 'Myraid pro', sans-serif;
  position: absolute;
  top: 287px;
  left: 520px;
}

.textraznovidnosti { /*Контейнер для текста раздела "Разновидности и места обитания"*/
padding: 50px 40px 0px 70px;
}

.karta { /*Карта "Места обитания выдр"*/
  padding: 0px 0px 20px 59px;
}

.foto2 { /*Фото раздела "Образ жизни"*/
  float: left;
  padding: 30px 20px 30px 50px;
}

.textobrazjyzni { /*Контейнер для текста раздела "Образ жизни"*/
 padding: 50px 70px 40px 50px;
}

.racion { /*Контейнер для схемы "Рацион"*/
  padding: 30px 0px 27px 93px;
  position: relative; /*Этот параметр указывается, чтобы использовать значение "Absolute" для других элементов этого контейнера*/
}

.textracion { /*Контейнер для текста раздела "Рацион"*/
  width: 260px;
  position: absolute; /*Абсолютное выравнивание элемента относительно родительского контейнера*/
  top: 270px;
  left: 360px;
}

.textracion p {
  text-align: center; /*Выравнивание текста по центру*/ 
}

.racionzagolovok {  /*Заголовок у текста в разделе "Рацион"*/
  text-align: center; /*Выравнивание текста по центру*/ 
}

.raciontext { /*Основной текст в разделе "Рацион"*/
  text-align: left; /*Выравнивание текста по левому краю*/
}

.foto3 { /*Фото раздела "Повадки"*/
  float: right;
  padding: 15px 32px 0px 30px;
}

.textpovadki { /*Контейнер для текста раздела "Повадки"*/
 padding: 75px 40px 0px 70px;
}

.razmnojenie { /*Контейнер для раздела "Размножение"*/
  padding: 30px 0px 5px 45px;
  position: relative; /*Этот параметр указывается, чтобы использовать значение "Absolute" для других элементов этого контейнера*/
  top: -65px; /*Смещение элемента вверх относительно места в нормальном потоке позиционирования*/
}

.textrazmnojenie { /*Контейнер для текста раздела "Размножение"*/
  width: 345px;
  position: absolute;  /*Абсолютное выравнивание элемента относительно родительского контейнера*/
  top: 210px; /*Смещение элемента вверх относительно родительского контейнера*/
  left: 315px; /*Смещение элемента влево относительно родительского контейнера*/
}

.razmnojeniezagolovok {  /*Заголовок у текста в разделе "Размножение"*/
  text-align: left; /*Выравнивание текста по центру*/ 
}

.razmnojenietext { /*Основной текст в разделе "Размножение"*/
  text-align: left; /*Выравнивание текста по левому краю*/
}

.tenfactovpodlojka { /*Контейнер для раздела "10 интересных фактов о выдрах"*/
  background-image: url(images/tenfactovfon2.png); /*Фоновое изображение в контейнере*/
  width: 960px; /*Ширина фонового изображения*/
  height: 1787px; /*Высота фонового изображения*/
  margin: 0px auto 0px auto; /*Задает отступ от краев контейнера до родительского элемента во все стороны*/
  position: relative; /*Этот параметр указывается, чтобы использовать значение "Absolute" для других элементов этого контейнера*/
  }

.linevertical { /*Разделительная вертикальная линия*/
  position: absolute; /*Абсолютное выравнивание элемента относительно родительского контейнера*/
  top: 172px;
  left: 476px;
}

p.cifiri {  /*Оформление больших цифр в разделе "10 интересных фактов о выдрах"*/
  color: white; /*Цвет текста*/
  font: normal 240% Plakat, sans-serif;
}

.contfact1 { /*Контейнер для раздела "Факт № 1"*/
  float: left;
  width: 465px;
  margin-right: 20px;  
}

.foto1-01 { /*Фото раздела "Факт № 1"*/
  float: left; /*Обтекание элемента с правой стороны*/
  /*background-color: lightgreen;*/ 
  padding: 190px 35px 35px 62px;
}

.text№1 { /*Контейнер для текста раздела "Факт № 1"*/
  padding: 165px 20px 50px 0px;
  /*background-color: lightblue;*/
  text-align: right;
   -moz-hyphens: auto; /*Перенос слов*/
    -webkit-hyphens: auto;/*Перенос слов*/
    -ms-hyphens: auto;/*Перенос слов*/
}

.linegorizontsmall { /*Разделительная горизонтальная линия (малая)*/
  padding: 0px 0px 0px 62px;
}

.contfact2 { /*Контейнер для раздела "Факт № 2"*/
  float: left;
  width: 475px; 
}

.text№2 { /*Контейнер для текста раздела "Факт № 2"*/
 /*background-color: green;*/ 
  width: 140px; /*Ширина изображения в Float*/
  padding: 165px 0px 0px 28px;
  text-align: left;
  display: inline-block;
   -moz-hyphens: auto;/*Перенос слов*/
    -webkit-hyphens: auto;/*Перенос слов*/
    -ms-hyphens: auto;/*Перенос слов*/
}

.foto2-01 { /*Фото раздела "Факт № 2"*/
/*background-color: lightblue;*/ 
  float: right; /*Обтекание элемента с правой стороны*/
  width: 200px; /*Ширина изображения в Float*/
  padding: 190px 80px 35px 10px;
}

.linegorizontsmall2 { /*Разделительная горизонтальная линия (малая)*/
  padding: 0px 0px 0px 27px;
}

.foto3-01 { /*Фото раздела "Факт № 3,5,7,9"*/
  float: left; /*Обтекание элемента с правой стороны*/
  /*background-color: lightgreen;*/ 
  padding: 47px 35px 36px 62px;
}

.text№3 { /*Контейнер для текста раздела "Факт № 3,5,7,9"*/
  padding: 20px 20px 18px 0px;
  /*background-color: lightblue;*/
  text-align: right;
   -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.text№4 { /*Контейнер для текста раздела "Факт №4,6,8,10"*/
 /*background-color: green;*/ 
  width: 140px; /*Ширина изображения в Float*/
  padding: 20px 0px 0px 28px;
  text-align: left;
  display: inline-block;
   -moz-hyphens: auto;/*Перенос слов*/
    -webkit-hyphens: auto;/*Перенос слов*/
    -ms-hyphens: auto;/*Перенос слов*/
}

.foto4-01 { /*Фото раздела "Факт № 4,6,8,10"*/
  float: right; /*Обтекание элемента с правой стороны*/
  width: 200px; /*Ширина изображения в Float*/
  padding: 45px 80px 35px 10px;
}

.linegorizontsmall_fact {
  display: none;
}

.text№10 { /*Контейнер для текста раздела "Факт 10"*/
  /*background-color: green;*/
  width: 147px; /*Ширина изображения в Float*/
  padding: 20px 0px 0px 28px;
  text-align: left;
  display: inline-block;
   -moz-hyphens: auto;/*Перенос слов*/
    -webkit-hyphens: auto;/*Перенос слов*/
    -ms-hyphens: auto;/*Перенос слов*/
}

.footer { /*Контейнер для нижней части сайта*/
  clear: both; /*Отмена обтекания*/
  width: 960px;
  position: relative;
}

p.fintext { /*Текст "Пожалуйста,"*/
  color: #C8E4C3; /*Цвет текста*/
  font: normal 185% 'Myraid pro', sans-serif;
  position: absolute;
  top: 125px;
  left: 460px;
}

p.fintext2 { /*Текст "берегите природу!"*/
  color: #FFFFFF; /*Цвет текста*/
  font: normal 185% 'Myraid pro', sans-serif;
  position: absolute;
  top: 149px;
  left: 496px;
}

p.fintext3 { /*Копирайт*/
  color: #9BCD63; /*Цвет текста*/
  font: normal 115% 'Myraid pro', sans-serif;
  position: absolute;
  top: 255px;
  left: 520px;
}



















/*CSS mobile*/

@media screen and (max-width: 740px) { 
 

.top { /*Удаление кнопки "Наверх" в мобильной версии*/
  display: none;
}

p { /*Основной текст сайта*/
 font: normal 60% 'Myraid pro', sans-serif;
 line-height: 1.15; /**/ 
}

body {
  overflow-x: hidden; /*Свойство убирает горизонтальную прокуртку*/
  background-image: none; /*Фоновое изображение*/
}

.shadow { /*Контейнер для тени у подложки*/
  box-shadow: none;
  width: 100%;
  height: auto;
  padding: 0%;
  margin: 0%;  
}

.main {
width: 100%;
height: auto;
padding: 0%;
margin: 0%;  
}

.header { /*Подложка с канадской выдрой*/
  width: 100%; /*Задаётся ширина коттейнера*/
  height: auto; /*Задаётся высота коттейнера*/
  background-image: url(images/generalfoto_mob.jpg); /*Путь к файлу с исходным  рисунком*/
  background-repeat: no-repeat; /*Отмена повтора изображения*/
  background-size: 100%; /*Задается ширина картинки. Здесь она подстраивается под ширину блока*/
  padding: 0%;
  margin: 0%;
  }

.menubar{ /*Контейнер для меню*/
  width: 90%;
  padding: 5% 0% 0% 0%;
  margin: 0% 5% 0% 5%;
 }

ul.menu li { /*Элементы меню*/
  float: left;
  list-style-image: url(images/strelka_mob.svg); /*Ставим в качестве маркера списка изображение*/
  margin: 0% 0% 0% 10%;
  padding: 0%;
 }

ul.menu li a br { /*Отмена переностроки у фразы "Разновидности и места обитания"*/
  display: none;
}

ul.menu li a {
  padding: 0%;
  margin: 0% auto 0% auto;
  font-size: 3vw; /*Если задавать размер в vw (viewport width), то размер текста будет меняться в зависимости от ширины экрана*/ 
}

div.nazvaniesayta p{  /*Название сайта "Выдры"*/
  width: 81%; /*Ширина контейнера*/
  height: auto;
  font-size: 20vw; /*Если задавать размер в vw (viewport width), то размер текста будет меняться в зависимости от ширины экрана*/ 
  padding: 8% 10% 0% 9%; /*Задает отступ от текста до краев контейнера во все стороны*/
  margin: 0%;
}

div.podzagolovoksayta p { /*Подзаголовок сайта "Хищние млекопитающие..."*/
  padding: 0% 5% 3% 10%; /*Задает отступ от текста до краев контейнера во все стороны*/
  margin: 0%;
  width: 40%; /*Ширина контейнера*/
  height: 100%;
  font-size: 5vw; /*Если задавать размер в vw (viewport width), то размер текста будет меняться в зависимости от ширины экрана*/ 
  line-height: 1.05; /**/ 
}

div.nauchclassifikacia p { /*Текст "Научная классификация*/
  margin-top: 75%;
  padding: 0% 0% 3% 10%; /*Задает отступ от текста до краев контейнера во все стороны*/
  width: 80%; /*Ширина контейнера*/
  font: normal 4.5vw 'Myraid pro', sans-serif;
  text-align: center;
}

.classifikaciaspisok { /*Контейнер для списка с научной классификацией*/
  text-align: center;
  padding: 0% 0% 10% 10%; /*Задает отступ от текста до краев контейнера во все стороны*/
  width: 80%; /*Ширина контейнера*/
}

pre { /*Список "Научная классификация"*/
  display: block;
  width: 100%;
  margin: 0%;
  padding: 0%;
  font: normal 4vw 'Myraid pro', sans-serif;
}

.tenfactovnfon { /*Контейнер для баннера "10 фактов о выдрах*/
  width: 40%;
  height: 40%;
  background-image: url(images/tenfactovbanner.png); /*Фоновое изображение в контейнере*/
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;  /*Абсолютное выравнивание элемента относительно родительского контейнера*/
  top: 48%; /*Смещение элемента вниз относительно родительского контейнера*/
  left: 53%; /*Смещение элемента вправо относительно родительского контейнера*/
}

.text { /*Текст на баннере "10 фактов о выдрах"*/
text-align: center; /*Выравнивание текста по центру*/
margin-top: 15%;
margin-right: 6%;
}

.ten { /*Текст "10"*/
  color: #C8E4C3;
  font-size: 19vw; /*Если задавать размер в vw (viewport width), то размер текста будет меняться в зависимости от ширины экрана*/ 
  letter-spacing: -0.08em; /*Межбуквенный интервал*/
}

.facti {  /*Текст "интересных фактов о выдрах"*/
  color: black;
  font-size: 3.3vw; /*Если задавать размер в vw (viewport width), то размер текста будет меняться в зависимости от ширины экрана*/ 
  margin-top: 3%;
  line-height: 1em; /*Межстрочный интервал*/
}

.site_content { /*Контейнер для основного содержимого сайта*/
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.foto1 { /*Фото раздела "Внешний вид"*/
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.foto1 img { /*Фото раздела "Внешний вид"*/
  width: 80%;
  padding: 0%;
  margin: 10% 10% 5% 10%;
}

h2 { /*Заголовки разделов*/
  display: inline-block;
  color: #026534; /*Цвет текста*/
  font: normal 130% 'Myraid pro', sans-serif;
  /*text-transform: uppercase;*/
}

.textvneshniyvid img { /*Контейнер для текста раздела "Внешний вид"*/
 display: none;
}

.textvneshniyvid { /*Контейнер для текста раздела "Внешний вид"*/
 padding: 10% 10% 15% 10%;
}

.linegorizont {
  width: 100%;
  height: 15px;
  background-image: url(images/linegorisontalsmall.png); /* Путь к файлу с исходным  рисунком*/
  background-size: 80%;
  padding: 0%;
  margin:  0% auto 0% auto;
}

p { /*Основной текст сайта*/
 color: black; /*Цвет текста*/
 font: normal 95% 'Myraid pro', sans-serif;
 line-height: 1.15; /**/ 
}

.brazilvidrabanner { /*Контейнер для баннера из раздела "Разновидности и места обитания"*/
  float: right;
  padding: 10% 10% 10% 10%;
}

a.brazilrollover { /*Ролловер для бразильских выдр*/
  background: url(images/brazilrollover.png); /* Путь к файлу с исходным  рисунком*/
  display: block; /*Рисунок как блочный элемент*/
  width: 264px; /*Ширина рисунка в пикселах*/
  height: 319px; /*Высота половины ролловера*/
}

a.brazilrollover:hover { /*Параметры ролловера, при наведении на него курсора мыши*/
   background-position: -264px 0; /*Смещение фона*/
}

.brazilstrelka {
  display: none;
}

.zagolovokbrazilvidri1 { /*Заголовок №1 раздела "Бразильская (гигантская) выдра"*/
 padding: 10% 10% 0% 10%;
}

.foto18 {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.foto18 img { /*Фото №1 раздела "Бразильская (гигантская) выдра"*/
  width: 80%;
  clear: both;
  padding: 10% 10% 10% 10%;
  margin: 0%;
}

.textbrazilvidra1 { /*Контейнер №1 для текста раздела "Бразильская (гигантская) выдра"*/
  padding: 10%;
}

.foto19 {
  width: 100%;
  padding: 0%;
  margin: 0%; 
}

.foto19 img { /*Фото №2 раздела "Бразильская (гигантская) выдра"*/
  width: 80%;
  clear: both;
  padding: 0% 10% 10% 10%;
  margin: 0%;
}

.textbrazilvidra2 { /*Контейнер №2 для текста раздела "Бразильская (гигантская) выдра"*/
  padding: 10%;
}

.fotofooter { /*Контейнер для подложки нижней части сайта на странице "Бразильские выдры"*/
  background-color: #036534;
  width: 100%;
  height: auto;
  text-align: center;
  background-image: none;
}

p.brazilfintext { /*Текст "Пожалуйста," на странице "Бразильские выдры"*/
  padding: 5% 0% 0% 0%;
  color: #C8E4C3; /*Цвет текста*/
  font: normal 105% 'Myraid pro', sans-serif;
  position: static;
}

p.brazilfintext2 { /*Текст "берегите природу!" на странице "Бразильские выдры"*/
  color: #FFFFFF; /*Цвет текста*/
  font: normal 105% 'Myraid pro', sans-serif;
  position: static;
}

p.brazilfintext3 { /*Копирайт* на странице "Бразильские выдры"*/
  padding: 5% 0% 5% 0%;
  color: #9BCD63; /*Цвет текста*/
  font: normal 65% 'Myraid pro', sans-serif;
  position: static;
}

.textraznovidnosti img {
  display: none;
}

.textraznovidnosti { /*Контейнер для текста раздела "Разновидности и места обитания"*/
 padding: 10%;
}

.karta { /*Карта "Места обитания выдр"*/
  width: 100%;
  padding: 0;
  margin: 0;
}

.karta img { /*Карта "Места обитания выдр"*/
  width: 92%;
  padding: 0%;
  margin: 0% 0% 10% 5%;
}

.foto2 { /*Фото раздела "Образ жизни"*/
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.foto2 img { /*Фото раздела "Образ жизни"*/
  width: 80%;
  padding: 0%;
  margin: 8% 10% 5% 10%;
}

.textobrazjyzni img {
  display: none;
}

.textobrazjyzni { /*Контейнер для текста раздела "Образ жизни"*/
 padding: 10%;
}

.racion { /*Контейнер для схемы "Рацион"*/
  padding: 0%;
}

.racion img { /*Контейнер для схемы "Рацион"*/
display: none;
}

.textracion { /*Контейнер для текста раздела "Рацион"*/  
  width: 80%;
  position: static; /*Абсолютное выравнивание отменяется, элементы отображаются как обычно.*/
  clear: both;
  padding: 0;
  margin: 10% 10% 10% 10%;
}

.textracion p {
  text-align: left; /*Выравнивание текста по центру*/
  width: 100%;
  padding: 0%;
  margin: 0%; 
}

.racionzagolovok {  /*Заголовок у текста в разделе "Рацион"*/
  text-align: center; /*Выравнивание текста по центру*/ 
}

.foto3 { /*Фото раздела "Повадки"*/
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.foto3 img { /*Фото раздела "Повадки"*/
  width: 80%;
  padding: 0%;
  margin: 6% 10% 2% 10%;
}

.textpovadki img { 
 display: none;
}

.textpovadki { /*Контейнер для текста раздела "Повадки"*/
 padding: 10%;
}

.linegorizontplus { /*Дополнительная разделительная горизонтальная линия*/
  display: block;
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.linegorizontplus img { /*Дополнительная разделительная горизонтальная линия*/
  width: 80%;
  padding: 0%;
  margin: 0% 10% 5% 10%;
}

.razmnojenie { /*Контейнер для раздела "Размножение"*/
  padding: 10%;
  position: relative; /*Этот параметр указывается, чтобы использовать значение "Absolute" для других элементов этого контейнера*/
  top: -25px; /*Смещение элемента вверх относительно места в нормальном потоке позиционирования*/
}

.razmnojenie img { /*Фото раздела "Размножение"*/
 display: none;
}

.textrazmnojenie { /*Контейнер для текста раздела "Размножение"*/
  width: 100%;
  position: static;  /*Абсолютное выравнивание элемента относительно родительского контейнера*/
  padding: 0%;
  margin: 0%;
}

.razmnojeniezagolovok {  /*Заголовок у текста в разделе "Размножение"*/
  text-align: left; /*Выравнивание текста по центру*/ 
}

.razmnojenietext { /*Основной текст в разделе "Размножение"*/
  text-align: left; /*Выравнивание текста по левому краю*/
}

.tenfactovpodlojka { /*Контейнер для раздела "10 интересных фактов о выдрах"*/
  background-image: none;
  background-color: #B5D3AF; /*Фоновое изображение в контейнере*/
  background: -moz-linear-gradient(right, #9bcd63 30%, #c9e4c3 100%); /*Градиентное фоновое изображение в контейнере*/
    background: -webkit-linear-gradient(right, #9bcd63 30%, #c9e4c3 100%);
    background: -o-linear-gradient(right, #9bcd63 30%, #c9e4c3 100%);
    background: -ms-linear-gradient(right, #9bcd63 30%, #c9e4c3 100%);
    background: linear-gradient(right, #9bcd63 30%, #c9e4c3 100%);
  width: 100%; /*Ширина фонового изображения*/
  height: auto; /*Высота фонового изображения*/
  margin: 0px auto 0px auto; /*Задает отступ от краев контейнера до родительского элемента во все стороны*/
  padding: 0%;
  position: relative; /*Этот параметр указывается, чтобы использовать значение "Absolute" для других элементов этого контейнера*/
  }


.linevertical { /*Разделительная вертикальная линия*/
  display: none;
}

p.cifiri {  /*Оформление больших цифр в разделе "10 интересных фактов о выдрах"*/
  color: white; /*Цвет текста*/
  font: normal 240% Plakat, sans-serif;
}

.contfact1 { /*Контейнер для раздела "Факт № 1"*/
  float: left;
  width: 100%;
  margin: 0%;
  padding: 0%;  
}

.foto1-01 { /*Фото раздела "Факт № 1"*/
  float: left; /*Обтекание элемента с правой стороны*/
  /*background-color: lightgreen;*/
  width: 80%;
  height: auto;
  padding: 10% 2% 2% 10%;
  margin: 0%;
}

.foto1-01 img {
  width: 100%;
  height: auto;
}

.text№1 { /*Контейнер для текста раздела "Факт № 1"*/
  padding: 10% 10% 0% 10%;
  /*background-color: lightblue;*/
  text-align: right;
   -moz-hyphens: auto; /*Перенос слов*/
    -webkit-hyphens: auto;/*Перенос слов*/
    -ms-hyphens: auto;/*Перенос слов*/
}

.linegorizontsmall {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.linegorizontsmall img {
  width: 80%;
  padding: 0%;
  margin: 8% 10% 3% 10%;
}

.contfact2 { /*Контейнер для раздела "Факт № 2"*/
  float: left;
  width: 100%;
  margin: 0%;
  padding: 0%; 
}

.text№2 { /*Контейнер для текста раздела "Факт № 2"*/
 /*background-color: green;*/
  width: 80%; 
  padding: 0% 10% 0% 10%;
  text-align: left;
   -moz-hyphens: auto;/*Перенос слов*/
    -webkit-hyphens: auto;/*Перенос слов*/
    -ms-hyphens: auto;/*Перенос слов*/
}

.foto2-01 { /*Фото раздела "Факт № 2"*/
/*background-color: lightblue;*/ 
  float: right; /*Обтекание элемента с правой стороны*/
  width: 80%;
  height: auto;
  padding: 7% 10% 7% 10%;
  margin: 0%;
}

.foto2-01 img {
  width: 100%;
  height: auto;
}

.linegorizontsmall2 {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.linegorizontsmall2 img {
  width: 80%;
  padding: 0%;
  margin: 0% 10% 0% 10%;
}

.foto3-01 { /*Фото раздела "Факт № 3,5,7,9"*/
  float: left; /*Обтекание элемента с правой стороны*/
  /*background-color: lightgreen;*/
  width: 80%;
  height: auto;
  padding: 10% 2% 2% 10%;
  margin: 0%;
}

.foto3-01 img { /*Фото раздела "Факт № 3,5,7,9"*/
   width: 100%;
  height: auto;
}

.text№3 { /*Контейнер для текста раздела "Факт № 3,5,7,9"*/
   padding: 10% 10% 0% 10%;
  /*background-color: lightblue;*/
  text-align: right;
   -moz-hyphens: auto; /*Перенос слов*/
    -webkit-hyphens: auto;/*Перенос слов*/
    -ms-hyphens: auto;/*Перенос слов*/
}

.text№4 { /*Контейнер для текста раздела "Факт №4,6,8,10"*/ 
 width: 80%; 
  padding: 0% 10% 0% 10%;
  text-align: left;
   -moz-hyphens: auto;/*Перенос слов*/
    -webkit-hyphens: auto;/*Перенос слов*/
    -ms-hyphens: auto;/*Перенос слов*/
}

.foto4-01 { /*Фото раздела "Факт № 4,6,8,10"*/
/*background-color: lightblue;*/ 
  float: right; /*Обтекание элемента с правой стороны*/
  width: 80%;
  height: auto;
  padding: 7% 10% 7% 10%;
  margin: 0%;
}

.foto4-01 img {
  width: 100%;
  height: auto;
}

.linegorizontsmall_fact {
  display: block; /*Отмена значения display: none*/
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.linegorizontsmall_fact img {
  width: 80%;
  padding: 0%;
  margin: 8% 10% 3% 10%;;
}

.text№10 { /*Контейнер для текста раздела "Факт 10"*/
  width: 80%; 
  padding: 0% 10% 0% 10%;
  text-align: left;
   -moz-hyphens: auto;/*Перенос слов*/
    -webkit-hyphens: auto;/*Перенос слов*/
    -ms-hyphens: auto;/*Перенос слов*/
}

.footer { /*Контейнер для нижней части сайта*/
  background-color: #036534;
  width: 100%;
  text-align: center;
}

p.fintext { /*Текст "Пожалуйста,"*/
padding: 5% 0% 0% 0%;
  color: #C8E4C3; /*Цвет текста*/
  font: normal 105% 'Myraid pro', sans-serif;
  position: static;

}

p.fintext2 { /*Текст "берегите природу!"*/
  color: #FFFFFF; /*Цвет текста*/
  font: normal 105% 'Myraid pro', sans-serif;
  position: static;
}

p.fintext3 { /*Копирайт*/
  padding: 5% 0% 5% 0%;
  color: #9BCD63; /*Цвет текста*/
  font: normal 65% 'Myraid pro', sans-serif;
  position: static;
}

}
